@page
@model base2wm.Pages.ContactModel
@{
}
<div class="text-center">
    <h1 class="display-4"> Contact </h1>
    <p>Wap - sgh90  <a href="https://wap.sgh90.com">building Web apps with ASP.NET Core</a>.</p>
    <h3> Phone: 034898989</h3>
    <h3> Mail: wap@wap.sgh90.com</h3>
</div>