@page
@model base2wm.Pages.ToolsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Tools page</h1>
    <p>Tools page  <a href="https://wap.sgh90.com">building Web apps with ASP.NET Core</a>.</p>
</div>