@page
@model base2wm.Pages.WorkModel
@{
}
<div class="text-center">
    <h1 class="display-4">Work page</h1>
    <p>Wap - sgh90  <a href="https://wap.sgh90.com">building Web apps with ASP.NET Core</a>.</p>
</div>